<%! from django.utils.translation import ugettext as _ %>
<%! from courseware.courses import get_course_info_section %>

##<!--course navigation meta-->
##<%page args="active_page=None" />
##
##<%
##if active_page is None and active_page_context is not UNDEFINED:
##  # If active_page is not passed in as an argument, it may be in the context as active_page_context
##  active_page = active_page_context
##
##def url_class(is_active):
##  if is_active:
##    return "active"
##  return ""
##%>
##<!--course navigation meta-->



<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
##<%static:css group='style-course'/>
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/jquery.treeview.js')}"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>
</%block>






		
		<section class="main-section">
			<!-- Header for Tab/SP -->
			<div class="hide-for-large-up" style="background-color:#B9B9B9; width:100%;"><p><span style="margin-left:1rem;" id="black_target_course_name"></span>講座名</p></div>
			<!-- Header for PC -->
			##<div class="row show-for-large-up" style="margin-top:0.5rem;">
			##	<div class="columns large-8"><span style="font-size:3rem;">gacco</span><span style="font-size:1rem;"> | メガネ講座 〜過去から未来への戦い〜 </span></div>
			##	<div class="columns large-4"><span class="right button radius small secondary">ナビボタン▼</span></div>
			##</div>
			<!-- Navigation for PC -->
			<%include file="/courseware/course_navigation.html" args="active_page='info'" />



<!-- Common Contets Area for All devices -->
			<div class="row">
				<%block name="bodyclass">${course.css_class or ''}</%block>
				<section class="container">
					<div class="info-wrapper">
						<div class="row">
							% if user.is_authenticated():
							<section class="updates">
								<div id="black_updatenews" class="columns small-12 medium-8 large-8">
								<h1>${_("Course Updates &amp; News")}</h1>
								${get_course_info_section(request, course, 'updates')}
								</div>
							</section>
							<section aria-label="Handout Navigation" class="handouts">
								<div class="columns small-12 medium-4 small-4">
									<h1>${course.info_sidebar_name}</h1>
									${get_course_info_section(request, course, 'handouts')}
								</div>
							</section>
							% else:
							<section class="updates">
								<div id="black_updatenews" class="columns small-12 medium-8 large-8">
									<h1>${_("Course Updates &amp; News")}</h1>
									${get_course_info_section(request, course, 'guest_updates')}
								</div>
							</section>
							<section aria-label="${_('Handout Navigation')}" class="handouts">
								<div class="columns small-12 medium-4 small-4">
									<h1>${_("Course Handouts")}</h1>
									${get_course_info_section(request, course, 'guest_handouts')}
								</div>
							</section>
							% endif
						</div>
					</div>
				</section>
			</div>
		</section>		
## ||||  Offcanvas Closer  ||||
## this parts will be written in 'footer.html'
##		<a class="exit-off-canvas"></a>
##	</div>
##</div>

## Info_Update Wrapper 'no_black'
<script>
	## no wrap with 'no_black', then ol/li tags to be unwraped
	## but wrap with <div class="no_black">, then ol/li tags are averable.
	$("#black_updatenews ol").filter(function(){
		return !$(this).parents(".no_black").length;
	}).contents().unwrap();
	$("#black_updatenews li").filter(function(){
		return !$(this).parents(".no_black").length;
	}).contents().unwrap();
</script>



