<%! from django.utils.translation import ugettext as _ %>
<%! from courseware.courses import get_course_info_section %>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
##<%static:css group='style-course'/>
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/jquery.treeview.js')}"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>
</%block>



	<div class="off-canvas-wrap">
		<div class="inner-wrap">
			<div class="hidden">
				<a class="left-off-canvas-toggle" ></a>
			</div>
			
			<nav class="top-bar hide-for-large-up" data-topbar="">
				<ul class="title-area">
					<li>
					<a class="menu-icon" onclick="$('a.left-off-canvas-toggle').trigger('click');"><span>gacco</span></a>
					</li>
					<li class="has-form toggle-topbar"><a href="http://foundation.zurb.com/docs" class="button">学習メニュー</a></li>
				</ul>
				<section class="top-bar-section">				
					<!-- Right Nav Section -->
					<ul class="right">
						<li class="show-for-small-only"><a href="#">学習する</a></li>
						<li class="show-for-small-only"><a href="#">お知らせ</a></li>
						<li class="show-for-small-only"><a href="#">ディスカッション</a></li>
						<li class="show-for-small-only"><a href="#">Wiki</a></li>
						<li class="show-for-small-only"><a href="#">成績</a></li>
						<li class="show-for-small-only"><a href="#">レポート管理</a></li>
						<li class="show-for-small-only"><a href="#">講師</a></li>
						<li class="has-dropdown not-click show-for-medium-up active">
							<a href="#">学習メニュー</a>
							<ul class="dropdown">
								<li class="title back js-generated"><a href="javascript:void(0)">◀戻る</a></li>
								<li><a href="#">学習する</a></li>
								<li><a href="#">お知らせ</a></li>
								<li><a href="#">ディスカッション</a></li>
								<li><a href="#">Wiki</a></li>
								<li><a href="#">成績</a></li>
								<li><a href="#">レポート管理</a></li>
								<li><a href="#">講師</a></li>
							</ul>
						</li>
					</ul>
				</section>
			</nav>
		
			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list">
					<li><label>MENU</label></li>
					<li><a href="#">USER NAME</a></li>
					<li><a href="#">ヘルプ</a></li>
					<li><a href="#">ログアウト</a></li>
				</ul>
			</aside>
			<!--ここまでトップバー＆オフキャンパス-->
			
			<section class="main-section">
			<!--SP/TABヘッダ-->
			<div class="hide-for-large-up" style="background-color:#B9B9B9; width:100%;"><p style="margin-left:1rem;">メガネ講座 〜過去から未来への戦い〜 あいうえおかきくけこさしすせそたちつてとなにぬねの</p></div>
			<!--SP/TABヘッダ-->
			<!--パソコンヘッダ-->
			<div class="row show-for-large-up" style="margin-top:0.5rem;">
				<div class="columns large-8"><span style="font-size:3rem;">gacco</span><span style="font-size:1rem;"> | メガネ講座 〜過去から未来への戦い〜 </span></div>
				<div class="columns large-4"><span class="right button radius small secondary">ナビボタン▼</span></div>
			</div>
			<!--パソコンヘッダ-->
			<!--ここからナビゲーション-->
			<div class="show-for-large-up" style="margin-top:1rem; padding-top:1.2rem; background-color:#B9B9B9; width:100%;">
				<div class="row">
					<ul class="button-group course-tabs" style="margin-left:1rem;">
						<li>
						<a href="/courses/edX/Open_DemoX/edx_demo_course/courseware" class="button small">
						学習する
						</a>
						</li>
						<li>
						<a href="/courses/edX/Open_DemoX/edx_demo_course/info" class="button small success">
						お知らせ
						</a>
						</li>
						<li>
						<a href="/courses/edX/Open_DemoX/edx_demo_course/discussion/forum" class="button small">
						ディスカッション
						</a>
						</li>
						<li>
						<a href="/courses/edX/Open_DemoX/edx_demo_course/course_wiki" class="button small">
						Ｗｉｋｉ
						</a>
						</li>
						<li>
						<a href="/courses/edX/Open_DemoX/edx_demo_course/progress" class="button small">
						成績
						</a>
						</li>
					</ul>
				</div>
			</div>			
			<!--ここまでナビゲーション-->
			
			<div class="row" style="margin-top:3rem;">
				<section class="container">
					<div class="info-wrapper">
						% if user.is_authenticated():
						<div class="row">
							<section class="updates">
								<div id="black_updatenews" class="columns small-12 medium-8 large-8">
									<h1>${_("Course Updates &amp; News")}</h1>
									${get_course_info_section(request, course, 'updates')}
								</div>
							</section>
							<section aria-label="Handout Navigation" class="handouts">
								<div class="columns small-12 medium-4 small-4">
									<h1>${course.info_sidebar_name}</h1>
									${get_course_info_section(request, course, 'handouts')}
								</div>
							</section>
						</div>
						% else:
						<div class="row">
							<section class="updates">
								<div id="black_updatenews" class="columns small-12 medium-8 large-8">
									<h1>${_("Course Updates &amp; News")}</h1>
									${get_course_info_section(request, course, 'guest_updates')}
								</div>
							</section>
							<section aria-label="${_('Handout Navigation')}" class="handouts">
								<div class="columns small-12 medium-4 small-4">
									<h1>${_("Course Handouts")}</h1>
									${get_course_info_section(request, course, 'guest_handouts')}
								</div>
							</section>
						</div>
						% endif
					</div>
				</section>
				
				<script>
					## no wrap with 'no_black', then ol/li tags to be unwraped
					## but wrap with <div class="no_black">, then ol/li tags are averable.
					$("#black_updatenews ol").filter(function(){
						return !$(this).parents(".no_black").length;
					}).contents().unwrap();
					$("#black_updatenews li").filter(function(){
						return !$(this).parents(".no_black").length;
					}).contents().unwrap();
				</script>
				
				</div>						
				</section>
			
			<a class="exit-off-canvas"></a>
			
		</div>
	</div>
