<%! from django.utils.translation import ugettext as _ %>
<%! from courseware.courses import get_course_info_section %>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
##<%static:css group='style-course'/>
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/jquery.treeview.js')}"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>
</%block>



			<div class="off-canvas-wrap">
	<div class="inner-wrap">

		<nav class="top-bar" data-topbar>
		<ul class="title-area">
		<li class="name">
		<span class="tab-bar">
		<a class="left-off-canvas-toggle menu-icon">
		<span></span><div style="font-size:1.5rem; margin-left:1rem; padding-top:0.2rem; color:#333333;">gacco</div>
		</a>
		</span>
		</li>
		<li class="toggle-topbar has-form"><a href="#" class="button success">学習メニュー</a></li>
		</ul>
		
		<section class="top-bar-section">

		<!-- Right Nav Section -->
		<ul class="right hide-for-medium-up">
			<li><a href="#">学習メニュー項目</a></li>
			<li><a href="#">学習メニュー項目</a></li>
			<li><a href="#">学習メニュー項目</a></li>
			<li><a href="#">学習メニュー項目</a></li>
		</ul>
		<ul class="right show-for-medium-up">
			<li class="has-dropdown active">
				<a href="#">学習メニュー</a>
				<ul class="dropdown">
					<li><a href="#">学習メニュー項目</a></li>
					<li><a href="#">学習メニュー項目</a></li>
					<li><a href="#">学習メニュー項目</a></li>
					<li><a href="#">学習メニュー項目</a></li>
				</ul>
			</li>
		</ul>
		</section>
		</nav>


		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
				<li><label>Foundation</label></li>
				<li><a href="#">The Psychohistorians</a></li>
				<li><a href="#">The Encyclopedists</a></li>
				<li><a href="#">The Mayors</a></li>
				<li><a href="#">The Traders</a></li>
				<li><a href="#">The Merchant Princes</a></li>
				<li><label>Foundation and Empire</label></li>
				<li><a href="#">The General</a></li>
				<li><a href="#">The Mule</a></li>
				<li><label>Second Foundation</label></li>
				<li><a href="#">Search by the Mule</a></li>
				<li><a href="#">Search by the Foundation</a></li>
			</ul>
		</aside>
		
		<section class="main-section">
			<div class="row">
				<div class="large-12 columns">
					<br>
					<h4>ボディ見出し</h4>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
					<p>ボディ</p>
				</div>
			</div>
		</section>
		
		<a class="exit-off-canvas"></a>
	</div>
</div>
	
				<script>
					## no wrap with 'no_black', then ol/li tags to be unwraped
					## but wrap with <div class="no_black">, then ol/li tags are averable.
					$("#black_updatenews ol").filter(function(){
						return !$(this).parents(".no_black").length;
					}).contents().unwrap();
					$("#black_updatenews li").filter(function(){
						return !$(this).parents(".no_black").length;
					}).contents().unwrap();
				</script>
				
				</div>						
				</section>
			
			<a class="exit-off-canvas"></a>
			
		</div>
	</div>
